// stylelint "**/*.scss"

//region Google Fonts

/* Google Fonts */

/* noto-sans-regular - latin */

@font-face {
	font-weight: 400;
	font-family: 'Noto Sans';
	font-style: normal;
	src:
		local('Noto Sans'),
		local('NotoSans'),
		url(../fonts/noto-sans-v9-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/noto-sans-v9-latin-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700 - latin */
@font-face {
	font-weight: 700;
	font-family: 'Noto Sans';
	font-style: normal;
	src:
		local('Noto Sans Bold'),
		local('NotoSans-Bold'),
		url(../fonts/noto-sans-v9-latin-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/noto-sans-v9-latin-700.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-700italic - latin */
@font-face {
	font-weight: 700;
	font-family: 'Noto Sans';
	font-style: italic;
	src:
		local('Noto Sans Bold Italic'),
		local('NotoSans-BoldItalic'),
		url(../fonts/noto-sans-v9-latin-700italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/noto-sans-v9-latin-700italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* noto-sans-italic - latin */
@font-face {
	font-weight: 400;
	font-family: 'Noto Sans';
	font-style: italic;
	src:
		local('Noto Sans Italic'),
		local('NotoSans-Italic'),
		url(../fonts/noto-sans-v9-latin-italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/noto-sans-v9-latin-italic.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-regular - latin */
@font-face {
	font-weight: 400;
	font-family: Oswald;
	font-style: normal;
	src:
		local(''),
		url(../fonts/oswald-v31-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/oswald-v31-latin-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-700 - latin */
@font-face {
	font-weight: 700;
	font-family: Oswald;
	font-style: normal;
	src:
		local(''),
		url(../fonts/oswald-v31-latin-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/oswald-v31-latin-700.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oswald-600 - latin */
@font-face {
	font-weight: 600;
	font-family: Oswald;
	font-style: normal;
	src:
		local(''),
		url(../fonts/oswald-v31-latin-600.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/oswald-v31-latin-600.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kalam-300 - latin */
@font-face {
	font-weight: 300;
	font-family: Kalam;
	font-style: normal;
	src:
		local('Kalam Light'),
		local('Kalam-Light'),
		url(../fonts/kalam-v10-latin-300.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/kalam-v10-latin-300.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kalam-regular - latin */
@font-face {
	font-weight: 400;
	font-family: Kalam;
	font-style: normal;
	src:
		local('Kalam'),
		local('Kalam-Regular'),
		url(../fonts/kalam-v10-latin-regular.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/kalam-v10-latin-regular.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* kalam-700 - latin */
@font-face {
	font-weight: 700;
	font-family: Kalam;
	font-style: normal;
	src:
		local('Kalam Bold'),
		local('Kalam-Bold'),
		url(../fonts/kalam-v10-latin-700.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url(../fonts/kalam-v10-latin-700.woff) format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* end of Google fonts */
//endregion

/* Theme colors */

$primary-color: #022140;
$secondary-color: #265077;
$tertiary-color: #494B68;
$slate-gray: #2D5F5D;
$red-color: #FF0000;
$light-red-color: #FCAEAE;
$dark-red-color: #C60000;
$orange-color: #DD7C15;
$light-orange-color: #E49643;
$dark-orange-color: #B75E00;
$dark-olive-green: #556B2F;
$white-color: #FFFFFF;
$off-white-color: #DDDDDD;
$light-gray-color: #AAAAAA;
$gray-color: #666666;
$black-color: #222222;

/* End Theme colors */

/* Responsive Width Calculation Numbers */

$width-difference: 80;
$width-base: 180;
$details-open-width-difference: 110;
$details-open-width-base: 120;
$viewport-diff: 800;

/* End Responsive Calculation Numbers */

html {
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	max-height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 62.5%;
	font-family: 'Noto Sans', serif;
	background: url(../img/bg.png) repeat center;
}

.modal-col {

	.order {
		position: relative;
		display: block;
		width: 260px;
		height: 260px;
		margin: 5px auto;
		padding: 5px;
		color: $white-color;
		font-size: 1.6em;
		line-height: 120%;
		border: 2px solid $black-color;
	}
}

.line-orders-modal {

	.modal-col {

		.order {
			position: relative;
			display: block;
			width: 420px;
			height: 420px;
			margin: 10px auto;
			padding: 5px;
			overflow: hidden;
			color: $white-color;
			font-weight: normal;
			font-size: 0.9em;
			line-height: 120%;
			text-shadow: 1px 1px 0 $black-color;
			background-color: $primary-color;
			border: 2px solid $black-color;

			&:hover {
				background: $secondary-color;
			}

			.item-number {
				color: #FFB566;
				font-size: 1.1em;
			}

			p {
				margin-bottom: 8px;
			}

			.comments {
				margin: 0 10px;
				background-color: rgba(185, 185, 185, 0.2);
				border: 1px solid #FFFFFF4C;

				p {
					margin: 0;
					padding: 4px;
					font-size: 0.8em;
					border-bottom: 1px solid #666666;

					&:nth-child(odd) {
						background-color: rgba(185, 185, 185, 0.3);
					}
				}
			}
		}
	}

	h2 {
		background-color: #EEEEEE;
		border-bottom: 1px solid #444444;
	}
}

.message-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100000;
	width: 100vw;
	color: $orange-color;
	font-size: 3em;
	text-align: center;
	background-color: $white-color;
	border: 2px solid $black-color;
	opacity: 0.9;
	transition: opacity 2s;

	&.show {
		opacity: 1;
		transition-timing-function: ease-in;
	}

	&.hide {
		opacity: 0;
		transition-timing-function: ease-out;
	}
}

.offline {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 100vw;
	padding: 0.5rem;
	color: $white-color;
	font-size: 3em;
	text-align: center;
	background-color: $dark-red-color;
}

@keyframes fadeIn {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.9;
	}
}

@keyframes fadeOut {

	0% {
		opacity: 0.9;
	}

	100% {
		opacity: 0;
	}
}

.full-width-container {
	position: relative;
	right: 50%;
	left: 50%;
	width: 100vw;
	height: 100vh;
	margin-right: -50vw;
	margin-left: -50vw;
	overflow: hidden;
	font-size: 1.5em;

	.app-not-supported,
	.db-name {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100000;
		display: none;
		width: 100%;
		padding: 0.5rem;
		color: $white-color;
		font-size: 1.4em;
		text-align: center;
		text-shadow: 1px 1px 0 $black-color;
		background-color: rgba($dark-red-color, 0.9);
		border: 5px solid rgba($white-color, 0.9);

		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			border: 2px solid $primary-color;
			content: ' ';
		}
	}

	.db-name {
		left: 260px;
		display: block;
		width: max-content;
		padding: 0.2rem;
		color: $black-color;
		font-size: 0.9em;
		font-style: italic;
		text-align: center;
		text-shadow: none;
		background-color: rgba($light-gray-color, 0.2);
		border: 1px solid rgba($black-color, 0.2);
		opacity: 0.6;

		&::before {
			border-width: 0;
		}

		span {
			color: $dark-orange-color;
		}
	}

	.order-counter {
		position: absolute;
		top: 3px;
		right: 3px;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 5.8rem;
		padding: 0.9rem;
		color: $orange-color;
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 1;
		background-color: $white-color;
		border: 7px solid $orange-color;
		border-radius: 50%;
		opacity: 0.8;

		span {
			display: block;
			font-size: 1rem;
		}
	}

	.font-size-changer {
		position: absolute;
		top: 95px;
		right: 15px;
		border: 4px solid $primary-color; //$orange-color;
		opacity: 0.7;

		button {
			margin: 0.1rem;
			color: rgba($white-color, 0.8);
			background-color: rgba($primary-color, 0.5);
			border: 1px solid rgba($primary-color, 0.7);

			&:hover {
				color: $white-color;
				background-color: rgba($primary-color, 0.6);
				border: 1px solid rgba($primary-color, 0.8);
			}

			&:focus {
				outline: 0;
				box-shadow: 0 0 0 0.2rem rgba($tertiary-color, 0.5);
			}

			&:disabled {
				cursor: not-allowed;
			}
		}
	}

	.num-clients {
		position: absolute;
		top: 50px;
		right: 100px;
		display: flex;
		align-items: end;
		height: 40px;
		color: rgba($gray-color, 0.5);
		font-size: 0.8em;
	}

	.fa.expand,
	.fa.compress {
		position: absolute;
		top: 2px;
		right: 5px;
		z-index: 10;
		color: $black-color;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}

	.btn-warning {
		background-color: $light-orange-color;
		border-color: $dark-orange-color;

		&:hover {
			background-color: $orange-color;
			border-color: $dark-orange-color;
		}
	}

	.header {
		height: 145px;

		.main-title {
			position: absolute;
			top: 0;
			display: block;
			margin: 0 auto;
			text-align: center;
			text-shadow: 1px 1px 2px $gray-color;
		}

		.titleList {
			position: absolute;
			left: 7em;
			width: 450px;
			height: 124px;
			margin-top: -15px;
			padding: 0;
			color: $primary-color;
			font-size: 100%;
			font-family: Oswald, sans-serif;
			text-align: center;
			text-transform: uppercase;
			list-style: none;
			border-bottom: 2px solid $orange-color;

			// stylelint-disable selector-no-qualifying-type

			> div {
				position: absolute;
				top: -1em;

				&.webs {
					font-weight: 700;
					letter-spacing: 0.01em;
					transform: scale(6.3, 6.6) translate(1.18em, 0.68em);
				}

				&.test {
					margin-left: 180px;
					color: $orange-color;
					font-weight: 400;
					letter-spacing: -0.04em;
					text-shadow: 1px 1px 1px $gray-color;
					transform: scale(1.2) rotate(90deg) translate(3.88em, -13.2em);
				}
			}

			// stylelint-enable selector-no-qualifying-type
		}

		.sub-title {
			position: absolute;
			top: 30px;
			left: 300px;
			color: rgba($slate-gray, 1);
			font-size: 3rem;
			font-family: Kalam, cursive;
		}

		.nav {
			position: relative;
			top: 99px;
			align-items: center;
			width: max-content;
			padding-right: 0.5rem;
			font-size: 1.2em;
			border-bottom: 2px solid $primary-color;

			a {
				color: $secondary-color;
			}

			button {
				color: $secondary-color;
				background: none;
				border: none;
			}

			.dropdown-item {
				color: $white-color;

				&.active,
				&:active {
					color: $secondary-color;
					text-decoration: none;
					background-color: rgba($white-color, 0.5);
				}

				&:hover {
					color: $black-color;
					background-color: rgba($white-color, 0.8);
				}
			}

			.dropdown-toggle {
				outline: 0;
			}

			.dropdown-menu {
				margin-top: 0;
				color: $white-color;
				background-color: rgba($secondary-color, 1);
			}

			.dropdown > .dropdown-menu.show {
				display: block;
			}

			.dropdown > .dropdown-menu > .dropdown-item:hover {
				color: $gray-color;
			}
		}
	}

	.home-image {
		display: block;
		min-width: 550px;
		max-width: 60%;
		margin: 0 10px;
		text-align: center;
		border: 5px solid rgba(32, 11, 222, 0.2);
		box-shadow: 5px 5px 2px $gray-color;
	}

	.searchBox,
	.dashboard {
		z-index: 100;
		height: auto;
		margin: 0 15px;
		padding: 8px 2px;
		overflow-x: hidden;
		overflow-y: visible;
		background-color: rgba($secondary-color, 0.7);
		border: 2px solid $secondary-color;

		&.dashboard {

			.title {
				margin: 0 20px 20px;
				padding: 0 5px;
				font-size: 1.9em;
				border-bottom: 2px solid $black-color;
			}

			.filters {
				height: 195px;

				.filter {
					border: none;

					&:first-child {
						margin-right: 70px;
					}

					&:last-child {
						border-left: 1px solid $light-gray-color;
					}

					.or {
						position: absolute;
						top: 0;
						right: -70px;
						display: flex;
						align-items: center;
						height: 100%;
						padding: 0 10px;
						color: $light-gray-color;
						font-weight: bold;
						font-size: 1.5em;
						border-right: 1px solid $light-gray-color;
						border-left: 1px solid $light-gray-color;
					}
				}

				.small {
					color: rgba($black-color, 0.7);
				}

				.date {
					width: 145px;
					padding: 0.375rem 0.5rem;
				}

				.btn {
					display: block;
					margin: 1em auto 0;
					text-align: center;
				}
			}

			.clear-buttons {
				position: absolute;
				top: 5px;
				right: 5px;
				font-size: 1rem;
			}
		}

		&.filters {

			.title {
				margin: 0 15px 15px;
				padding: 0 5px;
				font-size: 1.8em;
				border-bottom: 1px solid $black-color;
			}
		}

		.errorMsg {
			width: 750px;
			padding: 1em;
			font-weight: bold;
			font-size: 1.6em;
		}

		.order-search {
			width: 40%;
			min-width: 580px;
			margin: 1em auto 2em;
			padding-bottom: 0.25em;
			border-bottom: 1px solid rgba($white-color, 0.5);
		}

		.order-dashboard {
			//max-height: calc(100vh - 290px);
			color: $white-color;
			text-shadow: 1px 1px 1px $black-color;

			h5 {
				margin-bottom: 1rem;
			}

			.title {
				width: 90%;
				max-width: 800px;
				margin: 0 auto 10px;
				padding-bottom: 3px;
				text-align: center;
				border-bottom: 2px solid rgba($white-color, 0.5);
			}

			h3 {
				width: max-content;
				padding-right: 30px;
				padding-bottom: 2px;
				border-bottom: 1px solid rgba($white-color, 0.5);
			}

			.fixed-BOMs {
				width: 360px;
				max-height: 150px;
				overflow-y: auto;
			}

			.comments {
				width: 50%;
				min-width: 400px;
				margin: 0 0 0.75rem;
				background-color: rgba(185, 185, 185, 0.2);
				border: 1px solid #FFFFFF4C;

				p {
					margin: 0;
					padding: 4px;
					font-size: 0.8em;
					border-bottom: 1px solid #666666;

					&:nth-child(odd) {
						background-color: rgba(185, 185, 185, 0.3);
					}
				}
			}

			.cl-buttons {
				margin: 0.5rem auto;
				text-align: center;
			}

			.batch-numbers {
				width: 50%;
				min-width: 400px;

				ul {
					margin-left: 0.5em;
					padding: 0;
				}

				li {
					padding: 0.25rem;
					list-style-type: none;
					background-color: rgba($white-color, 0.1);

					&:nth-child(odd) {
						background-color: rgba($white-color, 0.16);
					}

					span {
						margin-left: 2em;
						font-size: 0.9em;
						font-style: italic;
						opacity: 0.7;
					}
				}
			}

			.btn.disabled {
				cursor: not-allowed;

				&:focus {
					border: 1px solid $primary-color;
					box-shadow: none;
				}
			}

			hr {
				border-top: 1px solid rgba($white-color, 0.2);
			}

			.tally-history {
				width: 50%;
				min-width: 400px;

				.table {
					color: $white-color;

					thead {
						position: sticky;
						top: 0;
						padding-bottom: 20px;

						/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5e7b96+0,5e7b96+70,265077+100&1+0,0.7+70,0+100,0+100 */
						background: linear-gradient(to bottom, rgba(96, 125, 152, 1) 0%, rgba(96, 125, 152, 1) 75%, rgba(38, 80, 119, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

						th {
							border: none;
						}
					}

					tbody tr:hover {
						color: $light-orange-color;
					}
				}
			}
		}

		.fa.expand {
			position: static;
			top: inherit;
			right: inherit;
		}

		.title {
			margin: 0;
			padding: 0;
			font-size: 1.4em;
			line-height: 100%;
		}

		.rotate-link {
			height: 32px;
			overflow: hidden;
			color: $black-color;
			text-align: left;
			background-color: transparent;
			border: none;
			outline: 0;

			&:hover {
				color: rgba($black-color, 0.8);
				text-decoration: none;
			}

			&:active {
				outline: 0;
			}
		}

		.collapse-filters {
			margin-top: -2px;
			vertical-align: middle;

			&:hover {
				color: rgba($black-color, 0.8);
			}
		}

		.collapse-filters.normal {
			transform: rotate(-360deg);
			transition: transform 350ms ease;
		}

		.collapse-filters.rotated {
			transform: rotate(-180deg);
			transition: transform 350ms ease;
		}

		a {

			&:hover {
				outline: none;
			}

			&:focus {
				outline: none;
			}

			&:active {
				outline: none;
			}
		}

		.filters-applied {
			display: flex;
			align-items: center;
			color: $primary-color;
			opacity: 0;
			transition: opacity 1s ease-out;

			&.show {
				opacity: 1;
			}
		}

		.filters {
			height: 380px;
			padding: 5px;

			&.dashboard {
				height: 280px;
			}
		}

		.filter {
			border-right: 1px solid $light-gray-color;

			h4 {
				padding-bottom: 4px;
				border-bottom: 1px solid $black-color;

				.filter-icon {
					margin-left: 15px;
					color: rgba($primary-color, 0.3);

					&:hover {
						color: rgba($primary-color, 0.6);
					}
				}
			}

			.form-check-label {
				margin-top: 2px;
			}

			.form-check-input svg {
				margin-top: -7px;
			}

			.count {
				color: rgba($white-color, 0.4);
			}

			.btn {
				margin-bottom: 10px;
				color: $white-color;
				background-color: $secondary-color;
				border-color: $primary-color;

				&:hover {
					background-color: rgba($secondary-color, 0.85);
					border-color: rgba($primary-color, 0.7);
				}
			}

			.date {
				width: 155px;
			}

			.short {
				width: 180px;
			}
		}

		.btn-primary.focus,
		.btn-primary:focus,
		.btn-primary:not(:disabled):not(.disabled).active:focus,
		.btn-primary:not(:disabled):not(.disabled):active:focus,
		.show > .btn-primary.dropdown-toggle:focus {
			box-shadow: 0 0 0 3px rgba($tertiary-color, 0.8);
		}
	}

	.text-muted-prod {
		color: rgba($white-color, 0.3);
	}

	.text-muted-gray {
		color: rgba($black-color, 0.5);
	}

	.lines {
		position: relative;
		z-index: 0;
		display: flex;
		width: 100%;
		height: calc(100vh - 190px);
		overflow: hidden;
		text-shadow: 1px 1px 0 $black-color;

		&.filters-open {
			height: calc(100vh - 511px);
		}

		&.fullscreen {
			height: 100vh;
			padding: 0;
		}

		&.details-open {

			.title {
				font-size: 1.5rem;
			}

			.orders .order {
				width: #{$details-open-width-base + 0px};

				&.size-1 {
					width: #{$details-open-width-base + 1px};
					min-height: 240px;
				}

				&.size-2 {
					width: #{$details-open-width-base + 2px};
					min-height: 260px;
				}

				&.size-3 {
					width: #{$details-open-width-base + 3px};
					min-height: 280px;
				}

				&.size-4 {
					width: #{$details-open-width-base + 4px};
					min-height: 300px;
				}

				&.size-5 {
					width: #{$details-open-width-base + 5px};
					min-height: 320px;
				}

				.id-line-num-pos {
					display: none;
				}
			}
		}

		.col {
			height: 100%;
			overflow: auto;
			-ms-overflow-style: none;
			scrollbar-width: none;
			background-color: rgba($secondary-color, 0.7);

			&.last {
				border-right-width: 3px;
			}

			&::-webkit-scrollbar {
				display: none; /* Safari and Chrome */
			}

			.title {
				position: sticky;
				top: 0;
				left: 0;
				z-index: 100;
				width: 100%;
				min-height: 58px;
				margin: 0;
				padding: 0.25rem;
				color: $white-color;
				font-weight: bold;
				font-size: 1.5rem;
				line-height: 1;
				background-color: $light-gray-color;

				.pallets-rem {
					margin-top: 0.25rem;
					font-weight: normal;
					font-size: 1.2rem;
				}

				span {
					color: $off-white-color;
					font-weight: normal;
					text-shadow: 1px 1px 0 $gray-color;
					opacity: 0.8;
				}

				.fa.compress {
					font-size: 1.2em;
				}
			}

			&.first h4 {
				margin: 20px 10px;
				color: $white-color;
				text-align: center;
				text-shadow: none;
			}

			&:last-child {
				border-right-width: 3px;
			}
		}

		.details-column {
			flex: 0 0 300px;
			overflow-x: hidden;
			color: $white-color;
			background-color: $primary-color;
			border: 3px solid $black-color;
			border-left-width: 0;

			&.size-1 .details-container {

				.item-number {
					font-size: 22px;
				}

				h5 {
					font-size: 18px;
				}

				p {
					font-size: 14px;
				}
			}

			&.size-2 .details-container {

				.item-number {
					font-size: 23px;
				}

				h5 {
					font-size: 19px;
				}

				p {
					font-size: 15px;
				}
			}

			&.size-3 .details-container {

				.item-number {
					font-size: 24px;
				}

				h5 {
					font-size: 20px;
				}

				p {
					font-size: 16px;
				}
			}

			&.size-4 .details-container {

				.item-number {
					font-size: 25px;
				}

				h5 {
					font-size: 21px;
				}

				p {
					font-size: 17px;
				}
			}

			&.size-5 .details-container {

				.item-number {
					font-size: 26px;
				}

				h5 {
					font-size: 22px;
				}

				p {
					font-size: 18px;
				}
			}

			.close-details {
				position: absolute;
				top: 0;
				right: 2px;
				z-index: 1000;
				color: $off-white-color;
				cursor: pointer;

				&:hover {
					color: $white-color;
				}
			}

			.item-number {
				color: $orange-color;
			}

			.details-container {
				position: absolute;
				top: 0;

				.order-details {
					margin: 5px 5px 20px;
					padding: 5px;
					line-height: 1.2;
					border: 2px solid $off-white-color;

					h3 {
						margin-bottom: 15px;
						border-bottom: 1px solid $off-white-color;
					}

					textarea {
						width: 100%;
						margin-bottom: 10px;
						font-size: 0.9em;
					}

					.chemicals {
						margin-bottom: 0.5rem;
						line-height: 1.2;
					}

					//.BOMs-container {
					//	margin-top: 0;
					//	margin-bottom: 0.75rem;
					//
					//	.BOMs-link {
					//		padding: 0;
					//		color: $white-color;
					//		font-weight: bold;
					//		background: none;
					//		border: none;
					//		outline: 0;
					//		cursor: pointer;
					//	}
					//
					//	.collapse-BOMs {
					//		margin-top: 0.25rem;
					//		margin-left: 0.25rem;
					//		font-size: 1.3em;
					//	}
					//
					//	.BOMs {
					//		margin: 0.5rem;
					//		padding: 0;
					//		background-color: rgba($white-color, 0.1);
					//
					//		li {
					//			padding: 0.25rem;
					//			font-size: 0.8em;
					//			list-style-type: none;
					//
					//			&:nth-child(odd) {
					//				background-color: rgba($white-color, 0.12);
					//			}
					//		}
					//	}
					//}

					.comments {
						width: 100%;
						margin: 0 auto 10px;
						color: $black-color;
						font-size: 0.9em;
						text-shadow: none;
						background-color: rgba($white-color, 0.7);
						border-radius: 2px;

						p {
							display: flex;
							margin: 0;
							padding: 4px;
							border-bottom: 1px solid $gray-color;
							opacity: 1;

							&:nth-child(odd) {
								background-color: rgba($white-color, 0.3);
							}

							span {
								color: $gray-color;
								font-size: 0.8em;
							}
						}

						.fa.delete-comment {
							flex: 0 0 20px;
							width: 18px;
							height: 21px;
							color: rgba($red-color, 0.6);

							&:hover {
								color: rgba($red-color, 0.8);
							}
						}
					}

					.btn {
						color: $white-color;
						background-color: rgba($secondary-color, 0.4);
						border-color: rgba($secondary-color, 0.7);

						&:hover {
							background-color: rgba($secondary-color, 0.6);
							border-color: rgba($secondary-color, 0.9);
						}

						&:focus {
							box-shadow: 0 0 0 0.2rem rgba($slate-gray, 1);
						}
					}

					.input-group {
						width: auto;
					}
				}
			}

			.order-checklist-buttons {
				margin: 5px 5px 20px;
				padding: 5px;
				line-height: 0.8;
				border: 2px solid $off-white-color;
			}

			.buttons {
				display: flex;
				justify-content: space-evenly;

				button {
					height: min-content;
				}

				div button {
					display: block;
				}
			}

			.history-links {
				display: flex;
				justify-content: space-evenly;
				margin: 0.25rem 0;

				button {
					width: 78px;
					color: rgba($white-color, 0.7);
					background: none;
					border: none;

					&.hidden:hover {
						cursor: default;
					}

					&:hover {
						color: rgba($white-color, 1);
						text-decoration: none;
					}
				}
			}

			.weight-form {
				margin: 5px;

				.avgWeightLbl {
					margin-top: inherit;
				}
			}

			hr {
				border-top: 1px solid $light-gray-color;
			}

			.comment-msg {
				align-self: center;
				color: rgb(255, 103, 121);
				font-size: 0.7rem;
			}

			.fa {
				font-size: 2.5em;
				cursor: pointer;

				&.button-scheduled:hover {
					color: $light-orange-color;
				}

				&.button-completed:hover {
					cursor: not-allowed;
				}
			}

			.verification-input input {
				width: 177px;
			}

			.weight-input .fa,
			.verification-input .fa {
				font-size: 2.5em;
				cursor: pointer;
			}

			.error-input {
				background-color: $light-red-color;
				border-color: $red-color;
			}

			.sec-verification {
				width: max-content;
				padding-bottom: 0.25rem;
				color: rgba($white-color, 0.6);
				font-size: 0.8em;
				border-bottom: 1px solid rgba($white-color, 0.3);
			}
		}

		.orders {
			//width: 250px;
			width: max-content;
			margin: 0 auto;

			.order {
				position: relative;
				display: block;
				height: auto;
				margin: 5px auto;
				padding: 5px;
				color: $white-color;
				line-height: 115%;
				text-align: left;
				word-break: break-word;
				border: 1px solid $light-gray-color;
				transition: background-color 3s ease;

				&.not-dragging {
					background-color: $primary-color;
				}

				&.dragging {
					background-color: $dark-olive-green;
				}

				&.size-1 {
					width: #{$width-base + 0px};
					min-height: 240px;
					font-size: 10px;

					.item-number {
						font-size: 12px;
					}
				}

				&.size-2 {
					width: #{$width-base + 5px};
					min-height: 255px;
					font-size: 11px;

					.item-number {
						font-size: 13px;
					}
				}

				&.size-3 {
					width: #{$width-base + 10px};
					min-height: 270px;
					font-size: 12px;

					.item-number {
						font-size: 14px;
					}
				}

				&.size-4 {
					width: #{$width-base + 15px};
					min-height: 285px;
					font-size: 13px;

					.item-number {
						font-size: 15px;
					}
				}

				&.size-5 {
					width: #{$width-base + 20px};
					min-height: 300px;
					font-size: 14px;

					.item-number {
						font-size: 16px;
					}
				}

				&.static {
					width: 270px;
					height: 270px;
					font-size: 1em;
					background-color: $primary-color;
					cursor: pointer;

					.item-number {
						font-size: 1.2em;
					}
				}

				&:hover {
					background: $secondary-color;
				}

				&.dropped {
					background-color: $secondary-color;
				}

				.orderID {
					position: absolute;
					top: 0;
					right: 2px;
					color: #200BDE;
					text-shadow: none;
				}

				p {
					margin-bottom: 6px;
				}

				.item-number {
					width: calc(100% - 28px);
					color: $orange-color;
				}

				.id-line-num-pos {
					position: absolute;
					bottom: 22px;
					left: 0;
					padding-left: 5px;
					color: #DDDDDD;
					font-size: 0.6em;
					line-height: 0.6;
				}

				.pallet-info {
					position: absolute;
					right: 0;
					bottom: 22px;
					padding-left: 5px;
					color: #DDDDDD;
					font-size: 0.6em;
					line-height: 0.6;
				}

				.pallets-done,
				.pallets-remaining,
				.line-position {
					position: absolute;
					right: 0;
					bottom: 0;
					padding: 3px;
					font-size: 0.9em;
					background-color: rgba(255, 255, 255, 0.2);
					border-top: 1px solid rgba(255, 255, 255, 0.5);
					border-left: 1px solid rgba(255, 255, 255, 0.5);
					border-top-left-radius: 5px;
				}

				.pallets-remaining {
					right: auto;
					left: 0;
					border-top-left-radius: 0;
					border-top-right-radius: 5px;
				}

				.line-position {
					top: 0;
					bottom: inherit;
					border-top-width: 0;
					border-bottom: 1px solid rgba(255, 255, 255, 0.4);
					border-top-left-radius: 0;
					border-bottom-left-radius: 5px;
				}

				.comments-icon {
					position: absolute;
					right: 5px;
					bottom: 50px;
					width: 80px;
					height: 80px;
				}
			}
		}
	}

	.pallet-count {
		position: relative;
		max-width: 250px;
		max-height: calc(100vh - 160px);
		overflow: auto;
		background-color: rgba($secondary-color, 0.7);
		border: 3px solid $black-color;
		-ms-overflow-style: none;
		scrollbar-width: none;

		header {
			position: sticky;
			top: 0;
			left: 0;
			min-height: 50px;
			margin: 0;
			padding: 0.25rem;
			color: $white-color;
			font-weight: bold;
			font-size: 1.5em;
			line-height: 1.2;
			text-align: center;
			text-shadow: 1px 1px 0 $orange-color;
			background-color: $light-gray-color;
			border-width: 0;

			span {
				margin-left: 0.25rem;
				color: $white-color;
				font-weight: normal;
				text-shadow: 1px 1px 0 $orange-color;
				opacity: 0.8;
			}
		}

		.changedCount {
			animation: fadeinoutcount 2s ease-in;
		}

		h4 {
			color: $orange-color;
			text-shadow: 1px 1px 0 rgba($black-color, 0.5);
		}

		h5 {
			height: 70px;
			color: $white-color;
			font-size: 1.2em;
			text-shadow: 1px 1px 1px $black-color;
		}

		button {
			display: block;
			width: 100px;
			height: 100px;
			margin: 0 auto 15px;
			font-size: 0.9rem;
			background-color: $primary-color;
			border: 2px solid $black-color;
			transition: background-color 0.5s ease;

			&:hover {
				background-color: $secondary-color;
			}

			&:disabled:hover {
				background-color: rgba($primary-color, 0.8);
				cursor: not-allowed;
			}

			div {
				margin-top: 10px;
				line-height: 1;
			}

			.checkbox {
				width: 50px;
				height: 50px;
				margin: 0 auto;
			}
		}

		.col:last-child {
			border-right-width: 3px;
		}

		.add-last-pallet {

			h2 {
				padding: 10px;
				font-size: 1.6em;
				border-bottom: 1px solid #444444;
			}

			.submit {
				margin-left: 5px;
				border: 1px solid #000000;
			}
		}

		@keyframes fadeinoutcount {

			0% {
				background-color: $light-gray-color;
			}

			50% {
				background-color: $orange-color;
			}
		}
	}

	.pallet-count-full {
		width: 100%;
		max-width: none;
		height: 100%;
		max-height: calc(100vh - 5px);
		margin: 0;
		padding: 0 15px;

		.fa.expand,
		.fa.compress {
			position: fixed;
			top: 2px;
			right: 24px;
			z-index: 1010;
		}

		header {
			position: sticky;
			top: 0;
			z-index: 1000;
			margin-bottom: -3px;
			background-color: $off-white-color;
			border-bottom: 3px solid $black-color;
		}

		.col {
			margin-top: 3px;

			header {
				position: sticky;
				top: 49px;
				z-index: 100;
				font-size: calc(14px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
			}

			h5 {
				height: 75px;
				font-size: calc(12px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
			}
		}
	}

	.labels-container {
		z-index: 100;
		margin: 0 15px;
		padding: 0.5rem;
		overflow-x: hidden;
		overflow-y: visible;
		color: $white-color;
		text-align: center;
		background-color: rgba($secondary-color, 0.7);
		border: 2px solid $secondary-color;

		.labels-table {
			width: max-content;
			max-height: calc(100vh - 260px);
			margin: 0 auto;
			overflow: auto;
			white-space: nowrap;
			text-align: left;
			border: 1px solid rgba($white-color, 0.5);

			table {
				margin: 0 auto;
				background-color: rgba($white-color, 0.1);
				border-collapse: collapse;

				// stylelint-disable selector-no-qualifying-type

				thead {

					th {
						padding: 0.5rem;

						&.setWidth {
							width: 110px;
						}

						&.longSetWidth {
							width: 130px;
						}

						button {
							padding: 0;
							color: $white-color;
							font-weight: 700;
							background: none;
							border: none;
							outline: 0;

							&.check-all {
								padding: 0.25rem;
								background-color: rgba($white-color, 0.1);
								border: 1px solid rgba($white-color, 0.5);

								&:hover {
									background-color: rgba($orange-color, 0.5);
								}
							}
						}

						.fa {
							margin-left: 0.25rem;
						}
					}
				}

				// stylelint-enable selector-no-qualifying-type

				tbody tr:nth-child(odd) {
					background-color: rgba($white-color, 0.2);
				}

				td {
					padding: 0.5rem;
				}
			}
		}

		.btn {
			margin-top: 10px;
			margin-bottom: 10px;
			color: $white-color;
			background-color: $secondary-color;
			border-color: $primary-color;

			&:hover {
				background-color: rgba($secondary-color, 0.85);
				border-color: rgba($primary-color, 0.7);
			}
		}
	}

	.login {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;
		max-width: 400px;
		margin: 2rem auto;
		padding: 2rem;
		font-size: 1.4em;
		background-color: rgba($secondary-color, 0.7);
		border: 2px solid $secondary-color;

		h3 {
			margin-bottom: 1.5rem;
			padding-bottom: 0.3rem;
			color: $white-color;
			text-align: center;
			border-bottom: 2px solid $white-color;
		}

		form {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		input {
			margin-bottom: 1rem;
			padding: 0.5rem;
			border: 1px solid #999999;
		}

		button {
			width: 100%;
			margin-bottom: 1rem;
			padding: 0.5rem;
			color: $white-color;
			font-weight: 700;
			background-color: $secondary-color;
			border-color: $primary-color;
			border-radius: 3px;

			&:hover {
				background-color: rgba($secondary-color, 0.85);
				border-color: rgba($primary-color, 0.7);
			}
		}

		.logo {
			width: 50%;
			margin-bottom: 1rem;
		}

		.error {
			padding: 0.5rem;
			color: $white-color;
			text-align: center;
			background-color: rgba($red-color, 0.3);
			border: 2px solid rgba($red-color, 0.5);
		}
	}

	.BOMs-container {
		margin-top: 0;
		margin-bottom: 0.75rem;

		.BOMs-link {
			padding: 0;
			color: $white-color;
			font-weight: bold;
			background: none;
			border: none;
			outline: 0;
			cursor: pointer;
		}

		.collapse-BOMs {
			margin-top: 0.25rem;
			margin-left: 0.25rem;
			font-size: 1.3em;
		}

		.BOMs {
			margin: 0.5rem;
			padding: 0;
			background-color: rgba($white-color, 0.1);

			li {
				padding: 0.25rem;
				font-size: 0.8em;
				list-style-type: none;

				&:nth-child(odd) {
					background-color: rgba($white-color, 0.12);
				}
			}
		}
	}

	.order-dashboard .BOMs-container {

		.BOMs-link {
			margin-top: -8px;
			margin-bottom: 1rem;
			text-shadow: 1px 1px 1px $black-color;
		}

		.BOMs {
			margin-top: 0;
		}
	}
}

.checkbox {
	display: flex;
	flex-direction: row;
	justify-content: center;

	&.left {
		flex-direction: column;
	}

	input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:checked + label svg path {
			stroke-dashoffset: 0;
		}

		&:focus + label {
			//transform: scale(1.03);
		}

		+ label {
			display: flex;

			span {
				display: block;
				width: 30px;
				height: 30px;
				margin: 0 0.25rem 0 0;
				border: 3px solid $white-color;
				border-radius: 5px;
				cursor: pointer;
				transition: all 0.2s ease;

				&:active {
					border-radius: 10px;
					transform: scale(1.05);
				}
			}

			svg {
				pointer-events: none;

				path {
					transition: all 450ms cubic-bezier(1, 0, 0.37, 0.91);
					fill: none;
					stroke: $orange-color;
					stroke-width: 4px;
					stroke-linecap: round;
					stroke-linejoin: round;
					stroke-dasharray: 100;
					stroke-dashoffset: 101;
				}
			}
		}
	}
}

.order-details-modal {
	min-height: 335px;
	max-height: calc(100vh - 70px);

	.table {
		width: 97%;
		margin: 10px auto;
		color: $white-color;
		font-size: 0.9em;

		&.table-striped tbody tr:nth-of-type(2n+1) {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}

	h2 {
		padding: 10px;
		color: $white-color;
		text-align: center;
		background-color: $light-gray-color;
		border-bottom: 1px solid $black-color;
	}

	.form {
		width: 100%;
		padding: 10px;

		.verify-date {
			margin-left: 25px;
			font-weight: normal;
			font-size: 0.9em;

			&.show {
				animation: verifyDate 2s ease-in;
			}
		}

		.radio {

			&.checked {
				color: rgba($orange-color, 0.8);
			}

			input {
				margin-right: 5px;
			}
		}

		.btn {
			color: $white-color;
			background-color: rgba($primary-color, 0.4);
			border-color: rgba($primary-color, 0.7);

			&:hover {
				background-color: rgba($primary-color, 0.3);
				border-color: rgba($primary-color, 0.6);
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba($slate-gray, 1);
			}

			.btn-primary:not(:disabled):not(.disabled).active:focus,
			.btn-primary:not(:disabled):not(.disabled):active:focus,
			.show > .btn-primary.dropdown-toggle:focus {
				box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
			}
		}
	}

	.answer {
		color: $light-orange-color;
		text-shadow: $black-color 1px 1px 0;
	}

	@keyframes verifyDate {

		0% { opacity: 0; }

		50% {
			color: #1AA72D;
			opacity: 1;
		}

		100% { color: #444444; }
	}

	.buttons {
		//width: max-content;
		margin: 0 auto;

		button {
			color: $white-color;
			background-color: transparent;
			border: none;

			.fa.disabled {
				color: rgba($white-color, 0.6);
				cursor: not-allowed;
			}
		}

		.counts {
			font-weight: normal;
			font-size: 0.9em;
			text-align: right;
			opacity: 0.8;
		}
	}

	.checklist-details {
		margin: 10px;
		padding: 0;
		color: $white-color;
		background-color: rgba($white-color, 0.2);
		border: 1px solid $light-gray-color;

		ul {
			max-height: calc(100vh - 200px);
			margin: 0;
			padding: 0;

			li {
				padding: 5px;
				list-style-type: none;

				&:nth-child(odd) {
					background-color: rgba($light-gray-color, 0.5);
				}
			}
		}
	}
}

.print-placards-modal {

	h2 {
		padding: 10px;
		color: $white-color;
		text-align: center;
		background-color: $light-gray-color;
		border-bottom: 1px solid $black-color;
	}

	.errorMsg {
		position: absolute;
		top: 30px;
		left: 0;
		z-index: 1000;
		width: 100%;
		color: #CC0000;
		background-color: rgb(255, 144, 144);
		border: 1px solid #CC0000;
	}

	.form {
		width: 100%;
		padding: 10px;

		.btn {
			color: $white-color;
			background-color: rgba($primary-color, 0.4);
			border-color: rgba($primary-color, 0.7);

			&:hover {
				background-color: rgba($primary-color, 0.3);
				border-color: rgba($primary-color, 0.6);
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba($slate-gray, 1);
			}

			.btn-primary:not(:disabled):not(.disabled).active:focus,
			.btn-primary:not(:disabled):not(.disabled):active:focus,
			.show > .btn-primary.dropdown-toggle:focus {
				box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
			}
		}
	}
}

.btn {
	color: $white-color;
	background-color: rgba($primary-color, 0.4);
	border-color: rgba($primary-color, 0.7);

	&:hover {
		color: $white-color;
		background-color: rgba($primary-color, 0.3);
		border-color: rgba($primary-color, 0.6);
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($slate-gray, 1);
	}

	.btn-primary:not(:disabled):not(.disabled).active:focus,
	.btn-primary:not(:disabled):not(.disabled):active:focus,
	.show > .btn-primary.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
	}
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 1000ms ease-in-out;

	&--after-open {
		z-index: 1000;
		opacity: 1;
	}

	&--before-close {
		z-index: 0;
		opacity: 0;
	}
}

.dashboard {

	&.smaller {
		width: 50%;
		min-width: 750px;
		height: calc(100vh - 160px);
		margin: 10px auto 0;
		overflow-y: auto;

		a {
			color: $light-gray-color;
			text-shadow: 1px 1px 1px $black-color;
		}
	}

	.order-details-grid {
		max-height: calc(100vh - 200px);
		margin: 0 15px;
		padding: 0 15px;
		overflow-x: hidden;
		overflow-y: auto;
		line-height: 0.8;

		> .row {
			background-color: rgba($black-color, 0.4);

			&.even {
				background-color: rgba($black-color, 0.2);
			}

			> div {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 150px;
				color: #FFFFFF;
				font-weight: normal;
				text-shadow: 1px 1px 0 rgba($white-color, 0.3);
				background-color: #444444;
				border: 3px solid #000000;
			}
		}

		.col.order-grid {
			display: block;
			align-items: normal;
			justify-content: normal;
			//font-size: 1.1em;

			.grid-details {

				h3 {
					margin-bottom: 0.4em;

					span {
						border-bottom: 2px solid #FFFFFF;
						box-shadow: 0 1px 0 #000000;
					}
				}
			}
		}

		.col.order-grid.details {
			background-color: $primary-color;
		}

		.col.order-grid.comments {
			background-color: $secondary-color;

			ul {
				padding: 0;
				background-color: rgba(0, 0, 0, 0.2);

				> li {
					padding: 0.4em;
					line-height: 1.3;
					list-style-type: none;

					&:nth-child(odd) {
						background-color: rgba(185, 185, 185, 0.5);
					}
				}
			}
		}

		.col.order-grid.batchNumbers {
			background-color: $tertiary-color;

			ul {
				width: 400px;
				padding: 0;
				border: 1px solid rgba(255, 255, 255, 0.4);

				> li {
					padding: 5px;
					list-style-type: none;
					background-color: rgba(255, 255, 255, 0.2);

					// stylelint-disable selector-no-qualifying-type

					&.even {
						background-color: rgba(255, 255, 255, 0.1);
					}
					// stylelint-enable selector-no-qualifying-type
				}
			}
		}

		.col.order-grid.checklists {
			background-color: $slate-gray;

			ul {

				> li {
					display: inline-block;
					width: 180px;
					margin: 0.3em;
					line-height: 1.3;
					text-shadow: none;
					list-style-type: none;
				}
			}
		}

		p {

			.details {
				//color: rgb(34, 51, 179);
				color: $primary-color;
			}

			.comments {
				color: $secondary-color;
			}

			.batchNumbers {
				color: $tertiary-color;
			}

			.checklists {
				color: $slate-gray;
			}
		}

		.row {

			&:first-child {

				.col {
					border-bottom-width: 0;
				}
			}

			.col {

				&:first-child {
					border-right-width: 0;
				}
			}
		}
	}

	.filteredOrders {
		position: relative;
		height: calc(100vh - 402px);
		padding: 0 1em 1em;
		overflow-y: auto;
		background-color: #EFEFEF;
		border: 2px solid #AAAAAA;

		.filtered-orders-header {
			position: sticky;
			top: 0;
			width: 90%;
			max-width: 800px;
			margin: 0 auto;
			padding-bottom: 20px;
			text-align: center;

			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
			background: -moz-linear-gradient(top, rgba(239, 239, 239, 1) 80%, rgba(239, 239, 239, 0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(239, 239, 239, 1) 80%, rgba(239, 239, 239, 0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 80%, rgba(239, 239, 239, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:dximagetransform.microsoft.gradient(startColorstr='#efefef', endColorstr='#00ffffff', GradientType=0); /* IE6-9 */

			button {
				width: 40px;
				height: 28px;
				margin: 0;
				padding: 0;
				color: rgba($secondary-color, 0.8);
				border: none;

				.fa {

					&:hover {
						color: rgba($secondary-color, 0.99);
					}

					&.disabled {
						color: rgba($secondary-color, 0.6);

						&:hover {
							cursor: not-allowed;
						}
					}
				}
			}
		}

		table {
			width: 90%;
			max-width: 800px;
			margin: 5px auto;

			.blurred {
				filter: blur(10px);
			}

			tbody tr:hover {
				color: $orange-color;
				cursor: pointer;
			}
		}

		ul {

			> li {
				display: inline;
				margin: 0 10px;

				> button {
					width: 120px;
				}
			}
		}
	}
}

.ReactCollapse--collapse {
	transition: height 500ms ease;
}

.close-modal {
	color: $off-white-color;

	&:hover {
		color: $white-color;
	}
}

.staticLines {
	width: 100%;
	text-align: center;

	&.completed {

		.col.order-col {
			flex-basis: 25%;
			max-width: 400px;
		}

		.col.order-details {
			flex-basis: 41%;
			max-width: 550px;
		}

		.orders h3 {
			font-size: 1.5rem;
		}
	}

	// stylelint-disable selector-no-qualifying-type

	> div.radio-col {
		flex: 0 0 200px;
	}

	> div.no-border {
		border-width: 0;
	}

	> div {
		height: max-content;
		border: 3px solid $black-color;

		&.order-details {
			border-width: 0;
		}

		&.right-border {
			border-right-width: 3px;
		}
		// stylelint-enable selector-no-qualifying-type
	}

	.radio-container {
		$colone: #6BD427;
		$coltwo: #1E44CA;
		$col12: #458C79;
		$size: 1.35rem;
		$color_: #7A7A8C;
		$ground: #DCDCDC;
		$border: #4C4F5A;
		$duration: 500;

		width: min-content;
		height: min-content;
		background-color: #C0C0C0;
		border: 3px solid $black-color;

		h3 {
			margin: 0;
		}

		a {
			color: $color_;
			font-size: $size / 2;
			text-decoration: none;
		}

		.radios {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: auto;
			padding: ($size / 4);
			background-color: $ground;
			border-radius: $size / 3;
			box-shadow: 0 5px 30px rgba(darken($ground, 12%), 0.3);

			hr {
				width: 100%;
				border: 1px solid rgba($black-color, 0.1);
			}

			ul {
				display: block;
				margin: 0;
				padding: 0;
			}

			li {
				font-weight: bold;
				list-style-type: none;
			}

			.name {
				display: flex;
				justify-content: flex-end;
				margin-bottom: ($size / 2);

				h4 {
					margin: 0;
					color: lighten($color_, 35%);
					font-weight: normal;
					font-size: ($size / 1.5);
					text-transform: uppercase;
					transform: scale(0);
					transform-origin: 100% 50%;
					transition: transform $duration * 1ms ease;
				}
			}

			svg {
				width: $size;
				height: $size;

				// stylelint-disable selector-no-qualifying-type

				&.gear {
					order: 1;
					margin-left: $size;
					cursor: help;

					&:hover ~ h4 {
						transform: scale(1);
					}
				}
				// stylelint-enable selector-no-qualifying-type
			}
		}

		.btn {
			position: absolute;
			bottom: $size;
			left: 50%;
			transform: translateX(-50%);

			a {
				margin: auto $size;
			}
		}

		// radio buttons

		label {
			position: relative;
			display: flex;
			align-items: center;
			width: auto;
			margin: ($size / 2) $size;
			cursor: pointer;
		}

		.check {
			width: $size;
			height: $size;
			margin-right: 10px;

			// stylelint-disable selector-max-id

			#border {
				fill: none;
				stroke: $color_;
				stroke-width: 3;
				stroke-linecap: round;
			}

			#dot {
				transform: scale(0);
				transform-origin: 50% 50%;
				fill: url(#gradient);
			}

			// stylelint-enable selector-max-id
		}

		input {
			display: none;

			&:checked + label {
				color: $col12;

				// can't do this background gradient on the text because the whole text disappears in Safari on the iPads
				//background: $coltwo linear-gradient(180deg, $colone, $coltwo);
				//-webkit-mask-image: linear-gradient($colone, $coltwo);
				//-webkit-background-clip: text;
				//-webkit-text-fill-color: transparent;

				// stylelint-disable selector-max-id
				svg {

					#border {
						animation: checked $duration * 1ms ease forwards;
						stroke: url(#gradient);
						stroke-dasharray: 145;
						stroke-dashoffset: 145;
					}

					#dot {
						transform: scale(1);
						transition: transform $duration * 1ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
					}
				}
				// stylelint-enable selector-max-id
			}
		}

		@keyframes checked {

			to {
				stroke-dashoffset: 0;
			}
		}
	}

	.lines {
		height: calc(100vh - 160px);

		.details-column {
			border: 3px solid $black-color;
			border-left-width: 0;
		}

		.order-buttons {
			border: 3px solid #222222;
			border-left-width: 0;

			button {
				display: block;
				width: 150px;
				height: 150px;
				margin: 0 auto 15px;
				font-size: 1.3rem;
				background-color: $primary-color;
				border: 2px solid $black-color;
				transition: background-color 0.5s ease;

				&:hover {
					background-color: $secondary-color;
				}
			}
		}
	}
}

.modal-form {

	.radioGroup {
		width: max-content;
		padding: 0 0.2em;
		border: 1px solid transparent;

		&.error-input {
			background-color: $light-red-color;
			border: 1px solid #FF0000;
		}

		.radio {
			margin: 0;

			input {
				outline: 0;
			}
		}
	}

	.error-input:invalid {
		background-color: $light-red-color;
		border: 1px solid $red-color;
	}

	.error-input.form-control:invalid:focus {
		box-shadow: 0 0 0 0.2rem rgba($red-color, 0.25);
	}

	.secondary-ver-warning {
		padding: 0.25em;
		text-align: center;
		background-color: rgba($red-color, 0.06);
		border: 1px solid $red-color;
	}
}

.error-input:invalid {
	background-color: rgba($red-color, 0.12);
	border: 1px solid $red-color;
}

.error-input.form-control:invalid:focus {
	box-shadow: 0 0 0 0.2rem rgba($red-color, 0.25);
}

.modalOrders {
	position: relative;
	width: 500px;
	height: 100%;
	margin: 0 auto;
}

[type='number'] {
	-moz-appearance: textfield;

	&::-webkit-inner-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}

	&::-webkit-outer-spin-button {
		margin: 0;
		-webkit-appearance: none;
	}
}

.custom-ui-dialog {
	max-width: 500px;
	background: rgba($light-gray-color, 0.8);
	border: 2px solid rgba($black-color, 0.5);
	border-radius: 10px;

	&.warning {
		background-color: rgba($red-color, 0.6);

		h1 {
			background-color: rgba($red-color, 0.8);
		}
	}

	h1 {
		width: 100%;
		margin: 0;
		padding: 0.5em;
		font-size: 2.8em;
		background-color: #75B9FF;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	.body {
		padding: 0.5em;

		h3 {
			padding: 0.5em;
			font-size: 2em;
		}

		.buttons {
			display: flex;
			justify-content: flex-end;

			button {
				margin-left: 1.5em;
				padding: 0.25em 0.5em;
				font-size: 2em;
				background-color: #BBBBBB;

				&:hover {
					background-color: #CCCCCC;
				}
			}
		}
	}
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active {
	background-color: #17A2B8;
	border-color: #17A2B8;
}

.errorMsg {
	width: 650px;
	margin: 0 auto;
	padding: 2em;
	color: rgba(204, 0, 0, 0.5);
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	border: 2px solid rgba(204, 0, 0, 0.5);
}

button,
button:focus {
	outline: 0;
}

.radio[disabled] {
	background-color: #000000;
}

/* media queries */

/* min-widths for fluid font sizes and order boxes (variables start on line 149)  */

@media screen and (min-width: 1000px) {

	.full-width-container .lines {

		.orders .order {

			&.size-1 {
				width: calc(#{$width-base + 0px} + #{$width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
				font-size: calc(10px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

				.item-number {
					font-size: calc(12px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
				}
			}

			&.size-2 {
				width: calc(#{$width-base + 5px} + #{$width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
				font-size: calc(11px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

				.item-number {
					font-size: calc(13px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
				}
			}

			&.size-3 {
				width: calc(#{$width-base + 10px} + #{$width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
				font-size: calc(12px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

				.item-number {
					font-size: calc(14px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
				}
			}

			&.size-4 {
				width: calc(#{$width-base + 15px} + #{$width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
				font-size: calc(13px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

				.item-number {
					font-size: calc(15px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
				}
			}

			&.size-5 {
				width: calc(#{$width-base + 20px} + #{$width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
				font-size: calc(14px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

				.item-number {
					font-size: calc(15px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
				}
			}
		}

		&.details-open {

			.orders .order {

				&.size-1 {
					width: calc(#{$details-open-width-base + 0px} + #{$details-open-width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
					font-size: calc(10px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

					.item-number {
						font-size: calc(12px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
					}
				}

				&.size-2 {
					width: calc(#{$details-open-width-base + 10px} + #{$details-open-width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
					font-size: calc(11px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

					.item-number {
						font-size: calc(13px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
					}
				}

				&.size-3 {
					width: calc(#{$details-open-width-base + 20px} + #{$details-open-width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
					font-size: calc(12px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

					.item-number {
						font-size: calc(14px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
					}
				}

				&.size-4 {
					width: calc(#{$details-open-width-base + 30px} + #{$details-open-width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
					font-size: calc(13px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

					.item-number {
						font-size: calc(15px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
					}
				}

				&.size-5 {
					width: calc(#{$details-open-width-base + 40px} + #{$details-open-width-difference} * ((100vw - 1000px) / #{$viewport-diff}));
					font-size: calc(14px + 4 * ((100vw - 1000px) / #{$viewport-diff}));

					.item-number {
						font-size: calc(15px + 4 * ((100vw - 1000px) / #{$viewport-diff}));
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1800px) {

	.full-width-container .lines {

		$max-base-width: 270;

		.orders .order {

			&.size-1 {
				width: #{$max-base-width + 0px};
				font-size: 14px;

				.item-number {
					font-size: 16px;
				}
			}

			&.size-2 {
				width: #{$max-base-width + 10px};
				font-size: 15px;

				.item-number {
					font-size: 17px;
				}
			}

			&.size-3 {
				width: #{$max-base-width + 20px};
				font-size: 16px;

				.item-number {
					font-size: 18px;
				}
			}

			&.size-4 {
				width: #{$max-base-width + 30px};
				font-size: 17px;

				.item-number {
					font-size: 19px;
				}
			}

			&.size-5 {
				width: #{$max-base-width + 40px};
				font-size: 18px;

				.item-number {
					font-size: 20px;
				}
			}
		}

		$base-width: 270;
		$base-min-height: 240;

		&.details-open .orders .order {

			&.size-1 {
				width: #{$base-width + 0px};
				min-height: #{$base-min-height + 0px};
				font-size: 14px;

				.item-number {
					font-size: 16px;
				}
			}

			&.size-2 {
				width: #{$base-width + 10px};
				min-height: #{$base-min-height + 15px};
				font-size: 15px;

				.item-number {
					font-size: 17px;
				}
			}

			&.size-3 {
				width: #{$base-width + 20px};
				min-height: #{$base-min-height + 30px};
				font-size: 16px;

				.item-number {
					font-size: 18px;
				}
			}

			&.size-4 {
				width: #{$base-width + 30px};
				min-height: #{$base-min-height + 45px};
				font-size: 17px;

				.item-number {
					font-size: 19px;
				}
			}

			&.size-5 {
				width: #{$base-width + 40px};
				min-height: #{$base-min-height + 60px};
				font-size: 18px;

				.item-number {
					font-size: 20px;
				}
			}
		}
	}
}

/* max-widths for everything else */

@media (max-width: 1390px) {

	.full-width-container .searchBox .filter .date.form-control {
		width: 142px;
		padding: 0.375em;
	}
}

@media (max-width: 1290px) {

	.full-width-container .searchBox .filter {

		h4 {
			font-size: 1.3em;
		}

		.date.form-control {
			width: 125px;
			padding: 0.375em 0.2em;
			font-size: 0.9rem;
		}

		.btn {
			font-size: 0.9rem;
		}
	}
}

@media (max-width: 1130px) {

	.full-width-container {

		.searchBox .filters .filter {

			&.bags-filter {
				max-width: 228px;
			}

			&.col {
				padding: 0 10px;
			}

			.date.form-control {
				width: 115px;
				padding: 0.375em 0.15em;
				font-size: 0.8rem;
			}

			.btn {
				padding: 0.375rem 0.325rem;
			}

			h4 {
				font-size: 1.1em;
			}
		}

		.lines.details-open {

			.title {
				font-size: 1.3rem;
			}

			.details-column {
				flex: 0 0 270px;

				.order-details {
					width: 256px;
				}
			}

			$base-min-height: 260;

			.orders .order {

				&.size-1 {
					min-height: #{$base-min-height + 0px};
				}

				&.size-2 {
					min-height: #{$base-min-height + 25px};
				}

				&.size-3 {
					min-height: #{$base-min-height + 50px};
				}

				&.size-4 {
					min-height: #{$base-min-height + 75px};
				}

				&.size-5 {
					min-height: #{$base-min-height + 100px};
				}
			}
		}

		.lines .orders .order .comments-icon {
			width: 60px;
			height: 60px;
		}
	}
}

@media (max-width: 1060px) {

	.full-width-container .lines {

		.order-column h3 {
			font-size: 1.5em;
		}

		.details-column .verification-input input {
			width: 160px;
		}

		.orders .order {

			&.static {
				width: 260px;
				height: 260px;
			}

			.id-line-num-pos {
				display: none;
			}
		}
	}
}

@media (max-width: 999px) {

	.full-width-container {

		.lines .orders .order.static {
			width: 240px;
			height: 240px;
		}

		.app-not-supported {
			display: block;
		}

		.db-name {
			top: 60px;
		}
	}
}

@media (max-width: 950px) {

	.full-width-container {

		.pallet-count {

			.col button {
				width: 170px;
				height: 170px;
				font-size: 1.2em;
			}
		}
	}
}

@media (max-width: 830px) {

	.full-width-container {

		.navbar {
			margin: 0 0 10px;
		}

		.lines .orders .order.static {
			width: 240px;
		}

		.pallet-count {

			.col {

				header {
					font-size: 2em;
				}
			}
		}
	}
}

@media (max-width: 700px) {

	.full-width-container {

		.app-not-supported {
			font-size: 1.1em;
		}
	}
}
